<nav class="navbar navbar-expand-lg p-3">
    <div class="container-fluid">
        <div class="d-flex container-logo-name w-50 align-items-center">
            <span class="iconify" data-icon="icon-park-twotone:api"  data-width="50" data-height="50"></span>
            <a class="navbar-brand fs-4" href="#">API Practica 8</a>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="iconify toggle-hamburger" data-icon="solar:hamburger-menu-line-duotone" data-width="40" data-height="40"></span>
        </button>
        <div class="d-flex align-items-center justify-content-end w-50">
            <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0 fs-5">
                    <li class="nav-item">
                        <a class="nav-link"  [routerLink]="['/suppliers']">Suppliers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"  [routerLink]="['/shippers']">Shippers</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
